body {
	background-color: #444;
	color: white;
	font-family: 'Open Sans', Helvetica;
}
.game, .unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.top {
	width: 100;
	text-align: center;
}
.board {
  width: 520px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.board img:hover {
	cursor: pointer;
}
.square1 {
  display: inline-block;
  background-color: #eeeed2;
  height: 65px;
  width: 65px;
}

.square2 {
  display: inline-block;
  background-color: #769656;
  height: 65px;
  width: 65px;
}
.selected1 {
	background-color: #F68273 !important;
}
.selected2 {
	background-color: #B4522F !important;
}
.record {
  margin: auto;
  margin-top: 10px;
  min-height: 8vh;
  width: 520px;
  background: #CCC;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #fff inset,-1px -1px 2px #fff inset;
  border-radius: 3px/6px;
  padding: 5px;
}
.record div {
	display: inline-block;
	padding: 4px;
	font-family: Arial;
	color: black;
}
.record div:hover {
	cursor: pointer;
}
.highlight-record {
	background-color:#E25757;
	border-radius: 3px/6px;
}

.btn {
	display: inline-block;
	cursor: pointer;
	margin:15px;
	max-width:85px;
	text-align:center;
  background: #a6d675;
  background-image: -webkit-linear-gradient(top, #a6d675, #314221);
  background-image: -moz-linear-gradient(top, #a6d675, #314221);
  background-image: -ms-linear-gradient(top, #a6d675, #314221);
  background-image: -o-linear-gradient(top, #a6d675, #314221);
  background-image: linear-gradient(to bottom, #a6d675, #314221);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #c6ff8a;
  background-image: -webkit-linear-gradient(top, #c6ff8a, #638045);
  background-image: -moz-linear-gradient(top, #c6ff8a, #638045);
  background-image: -ms-linear-gradient(top, #c6ff8a, #638045);
  background-image: -o-linear-gradient(top, #c6ff8a, #638045);
  background-image: linear-gradient(to bottom, #c6ff8a, #638045);
  text-decoration: none;
}
.inp {
	font-size: 18px;
	margin-left: 15px;
	width: 263px;
}

i {
    border: solid white;
    border-width: 0 9px 9px 0;
    display: inline-block;
    padding: 9px;
}

.right {
	cursor: pointer;
	transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
	cursor: pointer;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.game pre {
	width:100%;
	text-align:center;
	margin-top: 15px;
}
.highlightPrev1 {
	background-color: #F4F486;
}
.highlightPrev2 {
	background-color: #A8BC37;
}z