html {
	background-color: #444;
	font-family: Helvetica;
	color: white;
}

h2 {
	text-align: center;
	font-size: 25px;
}

#board {
	height: 480px;
	width: 480px;

	display: grid;
	grid-template: repeat(8, 60px) / repeat(8, 60px);
}

.no-select {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.square {
	display: inline-block;
}
.check-square {
	box-shadow: 0px 0px 0px 5px inset #cd1212;
}

#chess-container {
	position: relative;
	width: 480px;
	margin: 0 auto;
}

#pawn-promotion {
	position: absolute;
	width: 300px;
	height: 80px;
	background-color: #eeeed2;
	border: 1px solid darkgray;
	box-shadow: 3px 3px 10px 3px black;
	left: 50%;
	top: 50%;
	z-index: 100;
	margin: -150px 0 0 -150px;
	display: none;
	justify-content: space-evenly;
	align-items: center;
}

#pieces-captured {
	height: 50px;
}

.pieces-captured {
	display: inline-block;
}

.captured-box {
	display: inline-block;
	background-color: #555;
	padding: 5px;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: 5px;
}

#move-container {
	display: flex;
	flex-wrap: wrap;
	background-color: #555;
	padding: 10px;
	border-radius: 10px;
	width: 460px;
}

#b-pieces-captured {
	float: right;
}

#share-fen {
	background-color: #555;
	padding: 10px;
	border-radius: 10px;
	width: 460px;
	margin-bottom: 10px;
	font-family: Consolas;
}

.move-col-1 {
	flex-basis: 16%; 
	background-color: #666;
	padding: 5px;
}

.move-col-2 {
	width: 38%; 
	padding: 5px;
	cursor: pointer;
}

.btn-column {
	flex-basis: 20%; 
	background-color: #666;
	padding: 5px 0 5px 0;
	text-align: center;
	cursor: pointer;
}

.btn-column:hover {
	background-color: #606060;
}

.move-col-2:hover {
	background-color: #606060;
}

.selected-move {
	background-color: #B4522F;
}

.selected-move:hover {
	background-color: #c95e34;
}

.square.selected1 {
	background-color: #F68273 !important;
}
.square.selected2 {
	background-color: #B4522F !important;
}

.highlightPrev1 {
	background-color: #F4F486 !important;
}
.highlightPrev2 {
	background-color: #A8BC37 !important;
}

.color1 {
	background-color: #eeeed2;
}

.color2 {
	background-color: #769656;
}